<script type="text/javascript">
  Thyself = {
    Models: {},
    Collections: {},
    Data: {	// Should get overwritten by the rendered page
    	ContextDate: new Date(),
		ContextUser: ""
    },
    Views: {},
    Page: {}
  };
</script>

<script src="/static/js/lib/jquery-1.9.1.min.js"></script>
<script src="/static/js/lib/json2.min.js"></script>
<script src="/static/js/lib/underscore-min.js"></script>
<script src="/static/js/lib/backbone-min.js"></script>

<script src="/static/js/thyself/thyself.js"></script>
