<script type="text/javascript">
  Thyself = {
    Models: {},
    Collections: {},
    Data: {	// Should get overwritten by the rendered page
    	ContextDate: new Date(),
		  ContextUser: ""
    },
    Views: {},
    Page: {}
  };
</script>

<script src="/static/js/lib/jquery-1.9.1.min.js"></script>
<script src="/static/js/lib/json2.min.js"></script>
<script src="/static/js/lib/underscore-min.js"></script>
<script src="/static/js/lib/backbone-min.js"></script>

<script src="/static/js/thyself/thyself.js"></script>


<script type="text/javascript">
  document.exampleIndex = 0;
  document.exampleInputs=["I slept for 7.5 hours", "I played basketball for 2 hours and scored 10 points", 
  "I watered the cactus", "I took my vitamins", 
  "I ate pasta for lunch with Paul at the mall","I bought new glasses", 
  "Drank 2 cups of water", "I studied for my calculus exam for 3 hours at the library"];
  
  setInterval(function () {
    document.exampleIndex = (document.exampleIndex + 1) % (document.exampleInputs.length);
        $("#mEntryForm #description").attr("placeholder", document.exampleInputs[document.exampleIndex]);
    },3500);

</script>
