<form id="registerForm" method="POST" action="/a/register">
  <fieldset>
    <legend>Register</legend>

    <label>Email Address</label>
    <input class="fullInput" type="text" name="email" placeholder="hi@thyself.io"/>

    <label>Password</label>
    <input class="fullInput" type="password" name="password"/>

    <label>Retype Password</label>
    <input class="fullInput" type="password" name="repass"/>

    <label> I agree to the <a>Terms of Service</a>. </label> <!-- TODO: Make terms of service -->

    <input type="submit" class="flatButton curved ctaButton" id="registerButton" value="Start Journaling!"/>
  </fieldset>
</form>
