<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Know Thyself using personal metrics to quantify, track and analyze your daily actions and habits."/>

  <title> Journal, Track and Analyze your daily life as data | Thyself.io </title>

  {{{header}}}

</head>
<body>

<div class="layout" id="bodyMainFullPg">  
  <header>
    <a href="/"><h1 class="beta logo">Thyself.io</h1></a>


  </header>

  {{{content}}}

  <div class="column" id="contentFooter">
    <footer>
      <small> This website is currently in beta. There are many links and features which may be broken. <br> </small>
      <small> Copyright &copy 2013 Feni Varughese - hi@thyself.io </small>
    </footer>
  </div>

</div> <!-- End full row -->

  {{{scripts}}}
  

  {{{prefetch}}}

  
</body>
</html>
