<div class="width-5 column">

    <ul class="message_flashes">
      {{{flashes}}}
    </ul>


  <div class="sidebar shaded" id="action_entry">

    {{{actionEntry}}}



    {{{login}}}

    {{{register}}}
  </div>

<div class="desktop_share">
<a class="share_fb curved shaded" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fthyself.io&t=Journal%20your%20life%20as%20data" rel="nofollow" target="_blank">Post on <br> <b>Facebook</b></a>

<a class="share_twitter curved shaded" href="http://twitter.com/share?text=Journal%20your%20life%20as%20data&url=https%3A%2F%2Fthyself.io&via=ThyselfIO" rel="nofollow" target="_blank">Tweet to <br> <b>Twitter</b></a>
  
<a class="share_google curved shaded" href="http://plus.google.com/share?url=https%3A%2F%2Fthyself.io" rel="nofollow" target="_blank">Share on <br> <b>Google+</b></a>
</div>


</div>  <!-- End 5 column side bar -->

<div class="column width-7">
  <div class="shaded" id="journal_entry">
  <h2 class="alpha"> Know Thyself </h2>
  <p class="introDesc">
    Thyself.io helps you journal your daily actions so you can <b>track</b>, 
    <b>analyze</b> and <b>change</b> your habits and your life! 
  </p>

<h3 class="gamma">
Quantified Self Improvement
</h3>
<p>
  Whether you're trying to break old habits or form new ones, measuring it is the first step to changing it. Thyself makes self-tracking easy by letting you log your daily data automatically through our programming API or in plain english through our online app. 
</p>

  <h3 class="gamma">
    Start a diary, not a blog
  </h3>
  <p>
    Thyself.io gives you a simple <b>online diary</b> without the hassle of managing a blog. All of your data is kept private by default. It's just your <b>private journal</b>, for your personal life. 
  </p>



<h3 class="gamma">
 <a href="a/register">Sign up now</a> and let Thyself discover insights into your life!
</h3>


  
  <div class="buttonRow">
    <a href="/i/demo" class="flatButton curved ctaButton" id="demoButton" >Try the Demo!</a>
  </div>



</div>

</div>