
<div id="journal_container">
	<div class="width-5 column">
	  <ul class="message_flashes">
	  	{{{flashes}}}
	  </ul>

	  	<div class="sidebar shaded" id="action_entry">
		  {{{sidebar}}}
		</div>

<div class="desktop_share">

<a class="share_fb curved shaded" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fthyself.io&t=Journal%20your%20life%20as%20data" rel="nofollow" target="_blank">Post on <br> <b>Facebook</b></a>

<a class="share_twitter curved shaded" href="http://twitter.com/share?text=Journal%20your%20life%20as%20data&url=https%3A%2F%2Fthyself.io&via=ThyselfIO" rel="nofollow" target="_blank">Tweet to <br> <b>Twitter</b></a>
	
<a class="share_google curved shaded" href="http://plus.google.com/share?url=https%3A%2F%2Fthyself.io" rel="nofollow" target="_blank">Share on <br> <b>Google+</b></a>

</div>






	</div><!-- End 5 column side bar -->

	<div class="column width-7">
	  <div class="shaded" id="journal_entry">
	  	{{{journalEntry}}}
	  </div>
	 
	 <div class="column width-7" id="journal_footer">
	  <a href="/a/logout" class="footer_btn"> Logout </a>
	</div>

	</div>




</div>

<!--               End Content                  -->
