  <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/2.1.0/normalize.css" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  
  <link href='/static/css/custom.css?v=6' rel='stylesheet' type='text/css'>



  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>