<script type="text/javascript">
  Thyself = {
    Models: {},
    Collections: {},
    Data: {
      ContextDate: new Date(),
      ContextUser: ""
    },
    Views: {},
    Page: {}
  };
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js "></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

<!--<script src="//s3.amazonaws.com/ThyselfStatic/js/thyself/thyself.min.js"></script>-->
<script src="/static/js/thyself/thyself.js?v=3"></script>


  <!-- Google analytics to see if anyone is actually visiting my humble abode -->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39315627-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setSiteSpeedSampleRate', 100]);


    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>  



<script type="text/javascript">
  document.exampleIndex = 0;
  document.exampleInputs=["I slept for 7.5 hours", "I played basketball for 2 hours and scored 10 points", 
  "I watered the cactus", "I took my vitamins", 
  "I ate pasta for lunch with Paul at the mall","I bought new glasses", 
  "Drank 2 cups of water", "I studied for my calculus exam for 3 hours at the library"];
  
  setInterval(function () {
    document.exampleIndex = (document.exampleIndex + 1) % (document.exampleInputs.length);
        $("#mEntryForm #description").attr("placeholder", document.exampleInputs[document.exampleIndex]);
    },3500);
</script>

