<!-- Form to log daily action -->
  
<form id="mEntryForm" method="POST" action="{{urlDate}}/m">
	<h4 alt="Keep track of the habits you want to change.">What did you do today?</h4> 
	<input id="description" class="pad-1 fullInput" type="text" name="description" placeholder="I slept for 6.5 hours"/>
	<input type="submit" class="flatButton" alt="Log what you did today so you can analyze it later" value="Track"/>
</form>

<!-- Give a brief summary of parsed entries. Click to go to detailed view -->
<ul id="sidebarActionList">
</ul>