    <input type="text" id="date" />
    <div class="timepicker" id="timepicker1">
        <table class="template">
          <tr>
            <td><a href="#" data-action="incHr" class="arrow up"></a></td>
            <td class="separator">&nbsp;</td>
            <td><a href="#" data-action="incMin" class="arrow up"></a></td>
            <td class="separator">&nbsp;</td>  
            <td><a href="#" data-action="toggleMeridian" class="arrow up"></a></td>
          </tr>
          <tr>
            <td><input type="text" name="hour" class="tp-hr" maxlength="2"/></td> 
            <td class="separator">:</td>
            <td><input type='text' name='minute' class='tp-min' maxlength='2'/></td>
            <td class="separator">&nbsp;</td> 
            <td><input type='text' name='meridian' class='tp-meridian' maxlength='2'/></td>
          </tr>
          <tr>
            <td><a href="#" data-action="decHr" class="arrow down"></a></td>
            <td class="separator"></td>
            <td><a href="#" data-action="decMin" class="arrow down"></a></td>
            <td class="separator">&nbsp;</td>
            <td><a href="#" data-action="toggleMeridian" class="arrow down"></a></td>
          </tr>
        </table>
    </div>
