<script type="text/javascript">
  Thyself = {
    Models: {},
    Data: {},
    Views: {},
    Page: {}
  };
</script>

<!-- I don't have much bandwidth, so load from other CDNs -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js "></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

<!--<script src="//s3.amazonaws.com/ThyselfStatic/js/thyself/thyself.min.js"></script>-->

<script src="/static/js/thyself/thyself.js?v=2"></script>


