@import "_mintypeplate.scss";
@import "foundation/foundation-global", "foundation/components/global";


/* Shorthand: Top right bottom left */

$sans-font-family: "lato", Arial, "Helvetica Neue", "Helvetica", Verdana, sans-serif; /* Sans for stats. It looks good as big numbers */
$serif-heading-font-family: "Vollkorn", "Times", serif; /* For title text */
$serif-sub-font-family: "PT Serif", "Times", "Times New Roman", "Vollkorn", serif; /* Good for body text */

/* Used for the text entry */
$color-primary-bg: rgb(252, 252, 242);  // A tasteful light grey with a subtle hint of paper-yellow
$color-primary-fg: #222;    // A nice soft dark-grey for body text (Journal)


$color-dark-bg: rgb(21, 23, 24); 
$color-dark-bg-semi: rgba(20, 18, 17, 0.98);


$color-light-fg: #DDDDDD;               /* Light greys for sidebar text */
$color-lighter-fg: #EEEEEE; /* For highlights */

$color-highlights-lblue: rgb(3,54,73);  // Dark blue for highlights
$color-highlights-dblue: rgb(3,27,38);     /* cyan blue for sidebar highlights */

$color-error: rgb(204,30,20);

$std-pad: 1.9375rem;



html, body { 
  height: 100%; 
  width: 100%; 
  margin: 0; 
  padding: 0;
  background-color: $color-dark-bg; 
  //background: url("/static/img/Unsplash_Alejandro_E.jpg") no-repeat center center fixed; 
  background: url("https://s3.amazonaws.com/ThyselfStatic/img/Unsplash_Alejandro_E.jpg") no-repeat center center fixed; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

body{
  font-family: $serif-heading-font-family;  
  /* Image Pallete
 4E4945 - brown grey
 DDBC9D - pinkcream 
 BF8545 - desert brown
 E0E5DF - light light blue
 110803 - brown
  */

}

header{
  padding: 3% 0% 0% 5%;
  letter-spacing: normal;
  h1 {
    text-shadow: 3px 3px 3px rgb(20, 18, 17);
    color: $color-lighter-fg;
    margin-bottom: 0 !important;
  }
}

ul{
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0px;
}

/*! Typography - Based on Foundation css. Credit to Zurb - Foundation */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3{
  font-family: $serif-heading-font-family;
}

h4, h5, h6 {
  font-family: $sans-font-family;
}

p{
  font-family: $serif-sub-font-family;
  text-indent: 1.5em;
  font-size: 1em;
  line-height: 1.65em;
}

textarea{
  background: none;
  border: none;
  outline: none;
  font-family: $serif-sub-font-family;
  font-size: 1em;
  line-height: 1.65em;  
}

a{
  text-decoration: none;
  color: rgb(19, 30, 136); /* Google links = 17, 34, 204 */
}

/* Table styles - Based on bootstrap tables */
table{
   border-collapse:collapse;
   border-spacing: 0px;
}

thead {
  border-bottom: 7px solid rgba(0,0,0,0); /* Poor man's margins */
}

th{
  padding: 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: bottom;
  font-family: $sans-font-family;
  font-weight: 400;
  font-style: normal;
}

td{
  padding: 0px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

input {
  display: block;
    font-family: $sans-font-family;
}

label, small{
  font-size: .62em;
  font-weight: 400;
  font-style: normal;
  font-family: $sans-font-family;
}



/* Layout elements */
/* ID of top-level layout div in body */
#bodyMainFullPg {
  margin: 0 auto;  /* Overwrite the default row style so we have more space to work with */
  max-width: 77.5em;
}

.introDesc{
  font-size: 1.5rem;
}

.intro {
  p{
    text-indent: 0px;
  }
  h3{
    
  }
}


.sidebar, .alert-box {
  /*background-color: $color-secondary-bg-1;*/
  background-color: rgba(20, 18, 17, 0.98);
  border: 1px solid rgba(60, 54, 51, 0.58);
  margin-top: 4%;
  color: $color-light-fg;
  overflow: hidden;

  h3, h4, h5, h6{
    color: $color-light-fg;
  }  

  fieldset{
    border: none;
    border-top: 1px solid rgb(42, 32, 30);
    padding: $std-pad; 
  }
}

#messagebox {
  fieldset {
    padding: $std-pad;
    background-color: rgba(20, 18, 17, 0.98);
    border: 1px solid rgba(60, 54, 51, 0.58);
    color: white;
  }
}


$dbl-pad: $std-pad * 1.618;
$dbl-pad-pct: 4.1%; /* Equivalent value in percent, manually computed */

#journal_entry{
  /*padding-top: 4.8rem;
  padding-bottom: 2.8rem;
  padding-left: 9.3%;
  padding-right: 4.7%; */
  background-color: $color-primary-bg;
  color: $color-primary-fg;
  //background: url("/static/img/cream_dust.png");   

  /*padding: ($dbl-pad-pct) ($dbl-pad-pct * 1.618 ) ($dbl-pad-pct * 1.9) ($dbl-pad-pct * 1.9); */
  padding: 11.5% 11.5% 13% 13.5%;

  /*background: url("/static/img/cream_dust.png");    */

/*  padding-top: 5.556%; 
  padding-left: 8.989%;
  padding-right: 4.4945%; */
  /* padding-left: 11.111%; */


  .introSubSection{
    font-family: $serif-heading-font-family;
  }  

  .date {
    margin-bottom: ($std-pad / 4);
  }
}

.terms {
  ul{
    list-style-type: circle;
  }
  li {
    font-family: $serif-sub-font-family;
    font-size: 1em; 
    line-height: 1.65em;
  }  

}

#journal_footer {
    display: block;
    margin-top: $std-pad;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  
    a {
      display: inline-block;
      font-family: $sans-font-family;
      font-size: 1rem;      
      background-color: rgb(20, 18, 17);
      border: .6px solid rgba(10, 9, 8, 0.83);
      color: white;
      text-shadow: 2px 2px 2px black;      
      margin: 0px $std-pad / 2;
      padding: (0.2rem) ($std-pad) (0.418rem) ($std-pad);
      text-align: center;

    }
    
    .footer_btn{
      box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, 0.42);
    }





}

.editAction {
  max-width: 50%;
}

/* Misc style tweaks */
$curve-radius:2.5px;
.curved {
  border-radius: $curve-radius;
  -webkit-border-radius: $curve-radius;
  -moz-border-radius: $curve-radius;
  -o-border-radius: $curve-radius;
}

.shaded {
  -webkit-box-shadow: 0 0px 9px 1px rgba(0, 0, 0, .65);
  -moz-box-shadow: 0 0px 9px 1px rgba(0, 0, 0, .65);
  box-shadow: 0 0px 9px 1px rgba(0, 0, 0, .65);
}

$light-color:230;
.lighted {
  -webkit-box-shadow: 0 0px 9px 1px rgba($light-color, $light-color, $light-color, .35);
  -moz-box-shadow: 0 0px 9px 1px rgba($light-color, $light-color, $light-color, .35);
  box-shadow: 0 0px 9px 1px rgba($light-color, $light-color, $light-color, .35);
}



/* Input field styling for edit page */
.editAction, .editDescription, .detailAmount, .detailType, .detailGroup{
  font-family: $sans-font-family;
  font-style: normal;
  font-weight: 400;
  background: none;
  border: none;
  border-bottom: 1px dotted rgba(20, 20, 20, 0.3); 
  margin-bottom: 0.7rem;
  min-height: 28px;  /* Allows empty text-boxes to display */
}

.editAction{
  font-family: $serif-heading-font-family;
  font-size: 2em;
  text-transform: capitalize;
}

#journalEntryText { // text-area for journal entry
  overflow: auto;
  width: 100%;
  min-height: 750px;
}

/* Buttons */
.flatButton {
  display: inline-block;  
  padding: 0.42rem 1.82rem 0.42rem 1.82rem;
  /*margin: 0.8rem 0rem 0.8rem 0rem; */
  font:normal 0.9375em $sans-font-family;  
  text-align: center;
  vertical-align: center;
}

.entryControls {
  margin-top: 30px;
  button {
    float: right;
  }
}


#loginButton{
  margin: 0.8em 1.0375rem 0rem 0rem;
}

.ctaButton {
  background-color: rgb(192, 27, 13);
  border: 1px solid rgb(202, 30, 15); 
  color: #fff;
  font-size: 1.13em;
  font-weight: bold;
}

.ctaButton:hover,.ctaButton:focus{
  background-color:rgb(202, 30, 15); 
  color:#fff;
}

#demoButton {
  margin-bottom: 1.0375rem;
}

.buttonRow {
  text-align: right;  
}

.logo {
  display: inline;
}

.account_btns {
    display: inline;
    text-align: center;
    a {
      display: inline-block;
      font-family: $sans-font-family;
      font-size: 0.65rem;      
      background-color: rgb(20, 18, 17);
      border: .6px solid rgba(10, 9, 8, 0.83);
      color: white;
      margin: 0px $std-pad / 2;
      padding: (0.2rem) ($std-pad) (0.418rem) ($std-pad);
      text-align: center;


      b {
        text-align: center;
        font-size: 1rem;
        text-shadow: 2px 2px 2px black;
      /*  color: rgb(245, 245, 245); */
        color: inherit;
      }
    }

    .login_btn, .register_btn {
      border-bottom:3px solid rgba(32,148,202, 0.8);  /* rgb(2, 113, 191) */
      box-shadow: inset 0px 1px 0px 0px rgba(64,200,255, 0.22);
      /* text-shadow: 1px 1px 0.3px rgba(64,200,255, 0.12); */
      b {
        color: rgb(32,148,202);
      }
    }


  }


/* Forms */

#registerForm{
  text-align: right;
  p{
    margin-bottom: 0px;
  }
  input {
    width:100%;
  }
}

#mEntryForm, #sidebarLoginForm{
  padding: 1.9375rem;

  h4{
    margin-bottom: 0.617rem;
  }
  form{
    margin: 0px;
  }
}


.actionHeading{
  font-family: $sans-font-family;
  font-weight: normal;
  font-style: normal;
  font-size: 1.317rem;
  text-transform: capitalize;
  margin-top: 0.5rem; 
  padding-right: 0.32rem !important;
  color: white;
}

.date {
  font-size: 0.9rem;
  text-align: right;
}

.actionDetails{
  white-space: nowrap;
  padding-left: 0.9% !important;
  padding-right: 0.325em !important;
  margin-bottom: 0px;  
  li{
    display:inline-block;
    margin:0 1.225rem 0 0;
    border: none;
    text-align: left;
    padding-right: 0;
  }
  .key{
    font-weight: lighter;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    font-family: $sans-font-family; 
    font-style: normal;
    font-weight: 400;    
  }
  .val {
    font-family: $sans-font-family; 
    font-size: 1.13rem;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;    
    margin: 0.148rem 0rem;
  }
  .loneval{
    padding-bottom: 0.16rem;
    .key{
      font-size: 0.33rem;
    }
  }
}


.errorMsg{
  color: $color-error;
}

.message_flashes{
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
  margin-top: 7%;
}

.fullInput{
  font-family: $sans-font-family;
  width:100%;
  display:block;
  height: 32px;
  padding: 0px 5px 2px;  
}
.actionInstance {
  padding: 0rem 1.9375rem;
}

.actionInstance:nth-child(odd){
  background-color: rgba(39, 36, 33, 0.5);
}

.actionInstance:nth-child(even){
  background-color: none;
}

/*! Grid system - Based on Pure CSS. Credit to Yahoo. */
.layout{
  max-width:100%;
  letter-spacing:-.31em;
  *letter-spacing:normal;
  *word-spacing:-.43em;
  word-spacing:-.43em;
}

.column{
  display:inline-block;
  zoom:1;
  *display:inline;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto
}

.width-3, .fixed-width-3{
  width:25%;
}

.width-4, .fixed-width-4{
 width:33%;
}

.width-5{
  width:41.6666%;
}

.width-6, .fixed-width-6{
  width:50%;
}

.width-7{
  width:58.3333%
}

.fixed-width-8{
  width:68.6666%
}

.width-full{
  width: 100%
}


.offset-8{
  position: relative;
  left: 68.66%;
  right: auto;   
}

.offset-9 {
  position: relative;
  left: 67%;
  right: auto;    
}

.pad-1{
  margin:0.1rem;
}

/* Center a width-5 element */
.center-5{
  display: block;
  margin-left:29.16%;
}



/*! Simple date picker - Modified from Karl Seguin jquery.simpleDatePicker*/
.calendar{
  border:1px solid #aaa;
  background:#f9f9f9;
  font-family:verdana;
  font-size:12px;
  overflow:auto;
  width:250px;
  height:175px;
  position:absolute;
  line-height:1em;
  -moz-user-select:none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;  
}
.calendar .selected{
  border:1px dotted #999;
}
.calendar table{
  width:100%;
  height:100%;
  color:#222;
}
.calendar table td.hover{
  background:#B4D5FE;
  color:#111;
}
.calendar table td{
  padding:3px;
  text-align:center;
  cursor:pointer;
  border-radius:2px;
}

/*! Timepicker - Modified from Joris de Wit bootstrap-timepicker */
.timepicker {
  width: 160px;
  padding: 4px; 
  display: inline-block;

  .separator{
    padding: 0.1px;
  }

  table {
    width: 100%;
    margin: 0;
    td {
      text-align: center;
      height: 30px;
      a {
        margin-top: 5px;
        outline: none;
        color: #333;
      }
      input {
        width: 80%;
        margin: 5%;
        text-align: center;
      }
    }
  }
}

/*! CSS arrow by Magnus Magnusson - StackOverflow 2701192 */
.arrow {  
  display:inline-block;
  height: 0;
  width: 0;
  border: 9px solid transparent;
}
.arrow.up {
   border-bottom-color: #000;
   &:hover{
    border-bottom-color: #555;
  }
}
.arrow.down {
   border-top-color: #000;
   &:hover{
    border-top-color: #555;
  }
}


$sidebar-curve: 4px;
/* Desktop only */
@media (min-width: 767px) {
  .sidebar {
    border: 1px solid rgba(20, 18, 17, 0.18);
    border-top-left-radius: $sidebar-curve;
    -webkit-border-top-left-radius: $sidebar-curve;
    -moz-border-top-left-radius: $sidebar-curve;
    -o-border-top-left-radius: $sidebar-curve;

    border-bottom-left-radius: $sidebar-curve;
    -webkit-border-bottom-left-radius: $sidebar-curve;
    -moz-border-bottom-left-radius: $sidebar-curve;
    -o-border-bottom-left-radius: $sidebar-curve;
  }


  #journal_entry{
    min-height: 900px;
  }

  .alert-box {
    width: 100%;
    margin: inherit 0%;
  }

  .right-6{
  display: block;
  margin-left: 46%; /* 50 - (8.333 / 2) */
}


  .desktop_share {
    display: block;
    margin-top: $std-pad;
    text-align: center;
    a {
      display: inline-block;
      font-family: $sans-font-family;
      font-size: 0.65rem;      
      background-color: rgb(20, 18, 17);
      border: .6px solid rgba(10, 9, 8, 0.83);
      color: white;
      margin: 0px $std-pad / 2;
      padding: (0.2rem) ($std-pad) (0.418rem) ($std-pad);
      text-align: center;


      b {
        text-align: center;
        font-size: 1rem;
        text-shadow: 2px 2px 2px black;
      /*  color: rgb(245, 245, 245); */
        color: inherit;
      }
    }
    .share_google{
      border-bottom:3px solid rgba(199,53,37, 0.8); 
      box-shadow: inset 0px 1px 0px 0px rgba(255,100,70, 0.22);
      b {
        color: rgb(199,53,37);
      }
      /* text-shadow: 1px 1px 1.8px rgba(100,25,15, 0.82); */
    }
    .share_fb {
     border-bottom:3px solid rgba(59,89,152, 0.8); 
     box-shadow: inset 0px 1px 0px 0px rgba(118,156,199, 0.22);
     b {
      color: rgb(59,89,152);
     }
     /*text-shadow: 1px 1px 2.9px rgba(15,20,40, 0.82); */
    }
    .share_twitter {
      border-bottom:3px solid rgba(32,148,202, 0.8);  /* rgb(2, 113, 191) */
      box-shadow: inset 0px 1px 0px 0px rgba(64,200,255, 0.22);
      /* text-shadow: 1px 1px 0.3px rgba(64,200,255, 0.12); */
      b {
        color: rgb(32,148,202);
      }
      
    }
  }

}


/* Top corners for Mobile */
@media (max-width: 767px) {
  .sidebar {
    max-width:90%;
    margin-left: 5%;

  border: 1px solid rgba(20, 18, 17, 0.18);

  border-top-left-radius: $sidebar-curve;
  -webkit-border-top-left-radius: $sidebar-curve;
  -moz-border-top-left-radius: $sidebar-curve;
  -o-border-top-left-radius: $sidebar-curve;    

  border-top-right-radius: $sidebar-curve;
  -webkit-border-top-right-radius: $sidebar-curve;
  -moz-border-top-right-radius: $sidebar-curve;
  -o-border-top-right-radius: $sidebar-curve;    
  }

  .width-3, .width-4, .width-5, .width-6, .width-7, .timepicker{
    width:100%
  }

  .offset-9, .offset-8{
    left: 0%;
  }  

  .alert-box {
    width: 80%;
    margin-left: 10%; 
  }

  .desktop_share {
    display: none;
  }
}

.alert-box {
  padding: 15px;
  border-radius: 4px 4px 4px 4px;
  opacity: 1;
  margin-top: 5px;
  font-family: $sans-font-family;

  -moz-animation-name: slideMessage;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.85s;

  -webkit-animation-name: slideMessage;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1.5s;
}

@-moz-keyframes slideMessage {
    0% {
      margin-bottom: -55px;
      opacity: 0;
    }
    100% {
      margin-bottom: 15px;
      opacity: 1;
    }
}

/*
@-webkit-keyframes slideMessage {
    0% {
        right: 0px;
    }
    100% {
        right: -300px;
    }
}
*/


